.container {
  padding: 0;
  margin-top: 16px;
  width: 100%;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.containerInvisible {
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 8px;
  padding-right: 6px;
}

.button {
  padding: 16px 18px;
  height: fit-content;
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
}

.title {
  font-family: "Roboto", sans-serif;
  color: #59595a;
  font-weight: 400;
  font-size: 20px;
  margin-left: 16px;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 12px;
}

.switchButton {
  width: 173px;
  height: 48px;
  box-sizing: border-box;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: .06rem;
  top: 8px;
  right: 12px;
}


@media (max-width: 720px) {
  .button {
    padding: 10px 12px;
    margin-bottom: 18px;
    position: relative;
    font-size: small;
    margin-top: 8px;
  }
}

@media (max-width: 540px) {
  .button {
    font-size: smaller;
    margin-right: 18px;
  }

  .box {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 8px;
    padding-right: 6px;
  }
}