.container {
  width: 100%;
  padding: 0 8px 8px 8px;
}

.title {
  font-family: "Roboto", sans-serif;
  color: #59595a;
  font-weight: 400;
  font-size: 24px;
  margin-left: 12px;
}

.table {
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.table::-webkit-scrollbar {
  display: none;
}

@media (max-width: 540px) {
  .tableCell {
    font-size: 10px;
  }
}
